// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// src/css/quasar.variables.scss

$primary: #fffff3;
$secondary: #f1efd4;
$accent: #c1dafc;

$dark: #000000;
$dark-page: #404040;

$positive: #57ff7e;
$negative: #ff4a5f;
$info: #c9c9c9;
$warning: #ffd970;

$font-light: #0000;
$font-dark:#ffff;
